{% comment %}
  Footer section
  See https://shopify.dev/docs/themes/architecture/layouts
{% endcomment %}

<div class="my_footer">
  <div class="footer-flex-container">
    <div class="footer-icon">
      <a href="/pages/settings">
        <img src="{{ 'icon-settings.png' | asset_url }}" alt="Settings" width="40px">
      </a>
    </div>
 
    <div class="footer-icon">
      <a href="/pages/contact">
        <img src="{{ 'icon-notepad.png' | asset_url }}" alt="Contact" width="40px">
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "limit": 1,
  "enabled_on": {
    "groups": ["footer"]
  }
}
{% endschema %}