/* 
  Font CSS included by layout/theme.liquid
  Included only if the theme setting of "Use my own font" is checked.
  This sample applies the Japanese font not supported by Shopify natively.
  FYI: https://help.pandectes.io/en/article/how-to-use-google-fonts-locally-on-your-theme-1848tx4/
  
  See https://shopify.dev/docs/themes/architecture/settings/fonts
*/
@font-face {
    font-family: "Noto Sans JP";
    src: url("//5dqqmy-vv.myshopify.com/cdn/shop/t/7/assets/my_font.woff?v=128651565809616825761736942200") format("woff");
}

@font-face {
  font-family: "helvetica bold";
  src: url("//5dqqmy-vv.myshopify.com/cdn/shop/t/7/assets/Helvetica_Bold_Condensed.woff2?v=15463234295269935061737613602") format("woff2"),
  url("//5dqqmy-vv.myshopify.com/cdn/shop/t/7/assets/Helvetica_Bold_Condensed.woff?v=115691694907218544281737613601") format("woff");
}

.my_font {
    font-family: 'helvetica bold';
}